/*全局字体*/
html,body{
	font-family:"Microsoft YaHei",微软雅黑,"SimHei","MicrosoftJhengHei",仿宋,sans-serif;
}
p{
	font-size:14px;
}
.kaptcha-img{
	cursor:pointer;
}
.clear{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.gap{
	height:30px;
}

.gap-small{
	height:15px;
}

.padding{
	padding:15px !important;
}
.padding-lg{
	padding:30px !important;
}
.padding-left{
	padding-left:15px;
}

.padding-right{
	padding-right:15px;
}
.padding-top{
	padding-top:15px;
}

.padding-bottom{
	padding-bottom:15px;
}

.bg-grey-green{
	background-color: #4FADAE !important;
}

.bg-white{
	background-color: #fff !important;
}

.border-grey-green{
	border:1px solid #4FADAE;
}

.btn-success {
    background-color: #4FADAE;
    border-color: #008d4c;
    color:#fff;
}

a.btn-grey-green {
    background-color: #4FADAE;
    border-color: #008d4c;
    color:#fff;
}
a.btn-grey-green.active,
a:hover.btn-grey-green {
	background-color: #FC802D;
    border-color: #FC601C;
    color:#fff;
}
.greenForm select.has-error,
.whiteForm select.has-error,
.greenForm textarea.has-error,
.whiteForm textarea.has-error,
.greenForm input.has-error,
.whiteForm input.has-error{
	border:2px solid #FC802D !important;
	color:#FC802D;
}

.greenForm .has-error,
.whiteForm .has-error{
	color:#FC802D;
}

.greenForm label{
	color:#4FADAE;
	font-size:18px;
	text-align:right;
}

.whiteForm .input-lg,
.greenForm .input-lg{
	height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

.greenForm .form-control{
	border:2px solid #F1F1F1;
	border-radius:5px;
	background:#F1F1F1;
}

.whiteForm .form-control{
	border-radius:5px;
	border:2px solid #fff;
}

.whiteForm .form-control.active,
.greenForm .form-control.active{
	border:2px solid #4FADAE;
}

.greenForm .error-info{
	height:34px;
	line-height:34px;
	color:#FF0000;
	padding:6px;
	text-align:center;
}

.form-control{
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px !important;
}

.text-orange{
	color:#FC802D;
}
.text-white{
	color:#ffffff;
}
.text-grey-green{
	color:#4FADAE;
}

.text-large{
	font-size:20px !important;
}
.text-xlarge{
	font-size:40px !important;
}
.text-justify{
	text-align:justify;
}
.text-justify:after {
    content: " ";
    display: inline-block;
    width: 100%;
}

a.btn-detail{
	width:158px;
	height:43px;
	line-height:43px;
	display:block;
	border:none;
	color:#fff;
	padding-left:15px;
	text-align:center;
	font-size:18px;
	background:url("../images/btn-detail.png") no-repeat;
}

a.btn-detail:hover{
	color:#efefef;
}

.leo-page{
	text-align:center;
}

.leo-page a{
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	background:#ffffff;
	border-radius: 4px;
	box-shadow: 0px 4px 15px rgba(0,0,0,.4);
	font-size:18px;
	color:#E98C65;
	margin-right:12px;
	vertical-align: top;
}

.leo-page a:hover,
.leo-page a.active{
	background:#EE742D;
	color:#fff;
}

.leo-page a.first{
	background:#ffffff url("../images/left-right-arrow.png") center center no-repeat;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}
.leo-page a.first:hover,
.leo-page a.first.active{
	background:#EE742D url("../images/left-right-arrow-white.png") center center no-repeat;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}
.leo-page a.last{
	background:#ffffff url("../images/left-right-arrow.png") center center no-repeat;
}
.leo-page a.last:hover,
.leo-page a.last.active{
	background:#EE742D url("../images/left-right-arrow-white.png") center center no-repeat;
}

.leo-page.grey-green a{
	color:#4FADAE;
}
.leo-page.grey-green a:hover,
.leo-page.grey-green a.active{
	background:#4FADAE;
	color:#fff;
}
.leo-page.grey-green a.first{
	background:#ffffff url("../images/left-arrow.png") center center no-repeat;
	-moz-transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform:scaleX(1);
    /*IE*/
    filter:FlipH;
}
.leo-page.grey-green a.first:hover,
.leo-page.grey-green a.first.active{
	background:#4FADAE url("../images/left-right-arrow-white.png") center center no-repeat;
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
    /*IE*/
    filter:FlipH;
}
.leo-page.grey-green a.last{
	background:#ffffff url("../images/right-arrow.png") center center no-repeat;
}
.leo-page.grey-green a.last:hover,
.leo-page.grey-green a.last.active{
	background:#4FADAE url("../images/left-right-arrow-white.png") center center no-repeat;
}

.top-bar{
	height:50px;
	line-height:50px;
	color:#A8A8A8;
	font-size:18px;
}

.seite.leo-sidebar{
	position:fixed;
	right:10px;
	z-index: 9999;
}

.leo-sidebar{
	position:absolute;
	top:120px;
	right:20%;
}

.leo-sidebar ul{
	list-style: none;
	padding:0px;
}
.leo-sidebar ul li a{
	display:block;
	background:#FC802D;
	text-align:center;
	opacity: 0.7;
	padding:8px 15px;
}

.leo-sidebar ul li a:hover{
	opacity: 1;
}

.leo-sidebar ul li .title{
	font-size:14px;
	color:#fff;
	margin-top:4px;
}

.garten-search{
	height:150px;
	background:#4FADAE;
}

.garten-about{
	/* height:800px; */
	background:url(../images/home-bg1.png) left bottom repeat-x ;
}
.garten-about p{
	overflow:hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 13;
	overflow: hidden;
}

.garten-feature{
	/* height:750px; */
	background:url(../images/home-bg2.png) left bottom repeat-x ;
}

.garten-news{
	background:url(../images/home-bg3.png) left bottom repeat ;
}

.garten-course{
	/* height:750px; */
	background:#D8FCE3 url(../images/home-bg4.png) left bottom repeat-x ;
	padding-bottom:180px;
}

.garten-course .mis-slider{
	background:none;
}

.garten-course .mis-nav-buttons a, 
.garten-course .mis-nav-buttons a:hover {
    color: #FC802D;
}

.garten-visit-time,
.garten-list{
	background:url(../images/garten-list-bg.png) left bottom repeat;
	padding-bottom:50px;
}
.garten-list .container{
	background:#fff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.edu-feature,
.open-course{
	background:url(../images/garten-list-bg.png) left bottom repeat;
	padding:40px 0px;
}



.edu-feature .feature-container{
	border:2px solid #FB802E;
	border-radius:10px;
	background:#fff;
	overflow:hidden;
}

.kinder-content{
	min-height: 250px;
    padding: 15px;
    background:#fff;
}

.kinder-content h2,
.kinder-content h4{
	padding:10px;
	color:#4FADAE
}

.open-course h2{
	color:#4FADAE;
	text-align:center;
}

.open-course .open-course-desc{
	font-size:20px;
	color:#4FADAE;
	background:#fff;
	border-radius:10px;
	padding:40px;
	
}
.interest-course{
	background:url(../images/garten-list-bg.png) left bottom repeat;
	padding:40px 0px 0px 0px;
}
.interest-course .container{
	/* min-height:900px; */
	padding:40px 40px 300px 40px;
	background:#fff url("../images/interest-course-bg.png") left bottom repeat-x;
}

.interest-course-menu{
	/* min-height:500px; */
}

.interest-course-menu-head{
	height:130px;
	background:#459F73;
	border:8px solid #61D2AC;
	padding-top:30px;
	padding-left:5%;
}

.interest-course-menu-body{
	width:94%;
	background:#F9F9F9;
	margin:0 auto;
	text-align:center;
	border-top:20px solid #DEE4E0;
	padding-bottom:40px;
	float:left;
	box-shadow: 0px 10px 30px rgba(0,0,0,.3);
}
.interest-course-menu-body h2{
	color:#4FADAE;
	padding:20px;
}
.interest-course-menu-body ul{
	list-style-type: none;
	padding:0;
}

.interest-course-menu-body ul li a{
	width:80%;
	display:block;
	height:40px;
	line-height:40px;
	color:#000;
	font-size:16px;
	margin:10px auto;
}
.interest-course-menu-body ul li a.active,
.interest-course-menu-body ul li a:hover{
	color:#fff;
	background:#FC802D;
}

.parent-service{
	background:#fff;
}

.parent-service .parent-service-header{
	color:#4FADAE;
	font-weight:bold;
	padding-bottom:10px;
	margin-top:0px;
	border-bottom:2px solid #4FADAE;
}

.parent-service .parent-service-menu{
	list-style-type: none;
	padding:0;
}

.parent-service .parent-service-menu li{
	margin-bottom:20px;
	list-style-type: none;
}
.parent-service .parent-service-menu li a{
	color:#fff;
	font-size:20px;
	text-align:center;
	display:block;
	height:60px;
	line-height:60px;
	background:url("../images/parent-service-abg1.png") no-repeat;
	background-size:contain;
}

.parent-service .parent-service-menu li a .fa-minus{
	height:60px;
	line-height:60px;
	padding-left:30px;
}
.parent-service .parent-service-menu li a .fa-chevron-circle-right{
	height:60px;
	line-height:60px;
	padding-right:30px;
}
.parent-service .parent-service-menu li a:hover,
.parent-service .parent-service-menu li a.active{
	background:url("../images/parent-service-abg2.png") no-repeat;
	background-size:contain;
}

.news-item{
	padding-bottom:10px;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom:30px;
}
.news-item .news-item-desc{
	margin-top:20px;
	width:100%;
	
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	color:#999999;
	font-size:18px;
	line-height:32px;
}
.news-item h3{
	font-weight:bold;
	margin-top:0px;
}

.news-item .news-item-date{
	font-size:16px;
	text-align:right;
	color:#CECECE;
	height:40px;
	line-height:56px;
}



.img-item{
	border-radius:40px;
	border:#4FADAE 6px solid;
	overflow: hidden;
	position:relative;
	display:block;
}

.img-item .title{
	width:100%;
	position:absolute;
	left:0px;
	bottom:0px;
	text-align:center;
	color:#fff;
	font-size:16px;
	height:60px;
	line-height:60px;
	background:#000;
	opacity: 0.5;
	display:none;
}

.garten-item{
	color:#fff;
	
}
.garten-item .garten-item-container{
	background:#4FADAE;
}

.garten-item h2{
	font-weight:bold;
}

.garten-item .garten-item-left a{
	display:block;
	max-height:290px;
	overflow:hidden;
}
.garten-item .garten-item-left,
.garten-item .garten-item-right{
	background:#4FADAE;
	overflow:hidden;
}
.garten-item .garten-item-desc{
	width:100%;
	max-height:150px;
	line-height:28px;
	font-size:18px;
	text-align:left;
	overflow:hidden;
	/* text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient: vertical;  */
	margin-top:20px;
}

.garten-item .garten-item-detail{
	margin:20px 0;
}

.garten-item .garten-item-detail a{
	font-size:20px;
	color:#fff;
}

.feature-item{
	background:#FC802D;
	margin:0;
}
.feature-item .feature-item-left a{
	display:block;
	max-height:290px;
	overflow:hidden;
}
.feature-item .feature-item-right .feature-item-head{
	color:#FC802D;
	padding:20px 0px;
	font-size:30px;
    background:#fff;
}

.feature-item .feature-item-desc{
	padding:30px 0px;
	color:#fff;
	font-size:20px;
}
.feature-item .feature-item-desc h2{
	line-height:80px;
}
.feature-content{
	padding:30px;
	font-size:20px;
	line-height:30px;
	color:#53B3B5;
	overflow:hidden;
}

.feature-content.hide-part{
	max-height:360px;
}

.feature-container{
	color:#4FADAE;
	font-size:20px;
}

.news .info-box,
.question-item .info-box{
	position:relative;
	box-shadow:none;
	cursor:pointer;
}

.question-item .info-box span{
	position:absolute;
	width:100px;
	height:100px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	text-align:center;
	background:#fff;
	color:#FC802D;
	border:2px solid #4FADAE;
	border-radius:100%;
	font-size:30px;
	font-weight:bold;
	line-height:90px;
	display:none;
}

.question-item .info-box span.show{
	display:block;
}

.box.box-solid.box-green {
    border: 1px solid #4FADAE;
}
.box.box-solid.box-green>.box-header {
    color: #fff;
    background: #4FADAE;
    background-color: #4FADAE;
}
.box.box-solid.box-green>.box-header a, .box.box-solid.box-green>.box-header .btn {
    color: #fff;
}

.home-garten-edu{
	background:#fff;
}

.home-garten-edu .info-box{
	box-shadow: none;
	border-radius: 0px;
	padding:0;
	margin:0;
	background:#4FADAE;
	max-height:390px;
	overflow:hidden;
}

.home-garten-edu .info-box a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}
.home-garten-edu .info-box a:hover{
	color:#FC802D;
}

.home-garten-edu .info-box.content{
	text-align:center;
	padding:30px;
	color:#fff;
	line-height:40px;
}
.home-garten-edu .info-box.content p{
	font-size:18px;
	
	-webkit-line-clamp:6;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    text-overflow:ellipsis;
    overflow:hidden;
}

.garten-visit-time .info-box{
	box-shadow: none;
	border-radius: 0px;
	color:#4FADAE;
}
.garten-visit-time .info-box .title{
	font-size:24px;
	font-weight:bold;
	padding:0px 0px 20px 0px;
	border-bottom:1px solid #4FADAE;
}

.garten-visit-time .info-box .garten-visit-time-content{
	height:180px;
}

.garten-visit-time .info-box .time,
.garten-visit-time .info-box .address{
	font-size:18px;
	padding:10px 0px;
}
.garten-visit-time .info-box .map{
	width: 100%;
	height:300px;
	overflow: hidden;
}
.news,
.news-garten{
	background:#fff;
}

.news a.info-box .foot{
	height:120px;
	background:#CECECE;
}

.activity a.info-box .foot{
	background:#4FADAE;
}

.news a.info-box .news-text{
	width:100%;
	height:180px;
	background:#CECECE;
	opacity: 0.8;
	position:absolute;
	left:0;
	bottom:0;
}

.activity a.info-box .news-text{
	background:#4FADAE;
}

.news a:hover.info-box .foot,
.news a:hover.info-box .news-text{
	background:#4FADAE;
}
.activity a:hover.info-box .foot,
.activity a:hover.info-box .news-text{
	background:#FC802D;
}

.news a.info-box .news-text .news-title{
	height:120px;
	padding:30px;
	font-size:20px;
	font-weight:bold;
	color:#2A6889;
}
.news a.info-box .news-text .news-date{
	text-align:center;
	font-size:20px;
	color:#2A6889;
}
.news a.info-box .news-text .news-date i{
	font-size:30px;
}

.news a:hover.info-box .news-text .news-title,
.news a:hover.info-box .news-text .news-date,
.news a:hover.info-box .news-text .news-date i{
	color:#fff;
}

.news-garten .info-box{
	display: block;
    background: #fff;
    width: 100%;
	min-height:150px;
	border:2px solid #4FADAE;
	color:#333333;
	text-align:center;
}

.news-garten a:hover.info-box{
	background:#D5FFFF;
}

.info-box-icon{
	overflow:hidden;
}

.news-garten .info-box .info-box-icon{
	width:150px;
	height:146px;
	padding:25px 0px;
	font-size:18px;
	line-height:50px;
	background:none;
}
.news-garten .info-box .info-box-icon .day{
	display:block;
	font-size:50px;
}
.news-garten .info-box .info-box-content{
	margin-left:150px;
	padding:20px 0px;
}
.news-garten .info-box .info-box-content .info-box-text{
	font-size:18px;
	font-weight:bold;
}
.news-garten .info-box .info-box-content .info-box-number{
	text-align:left;
	padding:18px 0px;
	font-size:14px;
	color:#999999;
	font-weight:normal;
	height:80px;
	overflow:hidden;
}

.timeline>li>.fa{
	width:50px;
	height:50px;
	line-height:50px;
	left:7px;
}
.timeline>li>.timeline-item {
	margin-left:90px;
}

.team-manager{
	background:#fff;
	padding:40px 0px;
	
}

.team-manager .manager-info{
	min-height:300px;
	border:2px solid #B2B2B1;
	padding-left:10px;
}
.team-manager .manager-info .manager-info-title{
	padding:30px; 
	font-size:22px;
	color:#53B3B5;
	font-weight:bold;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.team-manager .manager-info .manager-info-body{
	padding:0px 30px 30px 30px;
	font-size:16px;
	color:#666666;
	line-height:28px;
}

.team-manager .mis-stage{
	margin-bottom:0px;
	height:310px !important;
}

.team-manager .mis-slider li a {
	height:310px;
}

.team-manager .mis-slider li a img {
	max-height:none;
}

.garten-detail .garten-detail-desc{
	color:#53B3B5;
	/* text-align:center; */
	font-size:16px;
	line-height:30px;
}

.garten-detail .garten-detail-desc p{
	text-indent:2em;
	font-size:16px;
	line-height:30px;
}


.garten-detail .map{
	height:600px;
}
.garten-detail .garten-speech{
	color:#53B3B5;
	font-size:16px;
	line-height:28px;
	padding:20px 0px;
}
.garten-detail .garten-detail-batch{
	position:relative;
	display:block;
}
.garten-detail .garten-detail-batch .garten-detail-batch-title{
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	background:#000000;
	opacity: 0.5;
	height:60px;
	line-height:60px;
	font-size:20px;
	color:#fff;
	text-align:center;
}

.garten-detail a:hover.garten-detail-batch .garten-detail-batch-title{
	background:#4FADAE;
	opacity: 0.9;
}

.media .video-box .video-text{
	background:#F8F8F8;
	height:100px;
	padding:15px 20px;
}

.media .video-box .video-text .video-title{
	font-size:24px;
	color:#333333;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.media .video-box .video-text .video-desc{
	font-size:18px;
	line-height:30px;
	color:#999999;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.main-footer{
	background:#4FADAE;
}
.copyright{
	padding:10px;
	font-size:14px;
	color:#fff;
}

img.img-fixed-height{
	height:260px;
}

@media (max-width: 1550px) {
	.leo-sidebar{
		position:absolute;
		top:120px;
		z-index:9999;
	}
	
	.leo-sidebar ul li a{
		padding:10px;
	}
	.leo-sidebar ul li img{
		width:50px;
		height:50px;
	}
}

@media (max-width: 1366px) {
	.leo-sidebar{
		position:absolute;
		top:100px;
		z-index:9999;
	}
	.leo-sidebar ul li a{
		padding:8px;
	}
	.leo-sidebar ul li img{
		width:40px;
		height:40px;
	}
}

@media (max-width: 1200px) {
	.leo-sidebar{
		position:absolute;
		top:140px;
		z-index:9999;
	}
	.home-garten-edu .info-box.content p {
	    font-size: 16px;
	    -webkit-line-clamp:5;
	    display: -webkit-box;
	    -webkit-box-orient:vertical;
	    text-overflow:ellipsis;
	    overflow:hidden;
	}
	.garten-feature{
		/* height:660px; */
	}
	
	.garten-item h2{
		font-size:24px;
	}
	
	.garten-item .garten-item-desc{
		-webkit-line-clamp:5;
		font-size:16px;
		margin-top:10px;
	}
	
	.garten-item .garten-item-detail{
		margin:15px 0px;
	}
	.garten-item .garten-item-detail a {
		font-size:18px;
		margin:0px;
	}
	
	.feature-item .feature-item-desc{
		padding:15px 0px;
		color:#fff;
		font-size:20px;
	}
	img.img-fixed-height{
		height:240px;
	}
}

@media (max-width: 992px) {
	.garten-visit-time .info-box .garten-visit-time-content{
		height:220px;
	}
	.home-garten-edu .info-box.content p {
		-webkit-line-clamp:4;
		line-height:30px;
	}
	.garten-detail .map{
		height:400px;
	}
	.garten-about {
		/* height:400px; */
	}
	.garten-about h2{
		font-size:24px;
		text-align:center;
	}
	.garten-about p{
		-webkit-line-clamp: 8;
	}
	.garten-news h2,
	.garten-feature h2{
		font-size:24px;
	}
	.garten-feature p{
		font-size:18px;
	}
	.news-item .news-item-desc{
		font-size:16px;
		line-height:26px;
		margin-top:10px;
	}
	.garten-item h2 {
	    font-size: 20px;
	    
	}
	.garten-item .garten-item-desc{
		-webkit-line-clamp:3;
		font-size:14px;
		margin-top:10px;
	}
	
	.garten-item .garten-item-detail{
		margin:15px 0px;
	}
	.garten-item .garten-item-detail a {
		font-size:16px;
		margin:0px;
	}
	.feature-item .feature-item-desc{
		padding:10px;
		color:#fff;
		font-size:16px;
	}
	
	.feature-item .feature-item-desc h2{
		font-size:26px;
		line-height:40px;
	}
	img.img-fixed-height{
		height:240px;
	}
}

@media (max-width: 767px) {
	.leo-sidebar{
		position:absolute;
		top:200px;
		right:2px;
		z-index:9999;
	}
	
	.leo-sidebar ul li a{
		padding:6px;
	}
	.leo-sidebar ul li img{
		width:40px;
		height:40px;
	}	
	.seite.leo-sidebar{
		right:2px;
	}
	
	/* .question-item{
		padding-left:6px;
		padding-right:6px;
	} */
	.question-item .info-box span{
		width:50px;
		height:50px;
		font-size:16px;
		line-height:48px;
	}
	.news .info-box .foot{
		height:60px;
	}
	
	.garten-detail .map{
		height:300px;
	}
	
	.garten-search h2{
		font-size:24px;
	}
	
	.garten-about {
		/* height:580px; */
	}
	
	.garten-about h2{
		text-align:center;
	}
	
	.garten-about p{
		-webkit-line-clamp: 6;
	}
	
	
	.garten-feature{
		/* height:680px; */
	}
	.garten-feature .img-item{
		max-width:250px;
		max-height:250px;
		margin:10px auto;
	}
	.news-item .news-item-desc{
		margin-top:15px;
		font-size:14px;
	}
	.news-item img{
		width:100%;
	}
	.news-item h3{
		font-weight:bold;
		margin-top:10px;
		font-size:16px;
	}
	
	.news-item .news-item-date{
		font-size:16px;
		text-align:left;
		height:40px;
		line-height:40px;
	}
	
	.feature-item .feature-item-desc{
		padding:10px;
		color:#fff;
		font-size:16px;
	}
	
	.feature-item .feature-item-desc h2{
		font-size:24px;
		line-height:30px;
		margin:10px 0px;
	}
	
	img.img-fixed-height{
		height:180px;
	}
	.garten-visit-time .info-box .garten-visit-time-content{
		height:auto;
	}
}
