<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.groupmgt.LessonMapper">
	<insert id="addLesson" parameterType="com.center.po.groupmgt.Lesson" useGeneratedKeys="true" keyProperty="lessonId">
		insert into tb_group_lesson
		(lessonName,description,createBy,remark,lessonTypeId)values
		(#{lessonName},#{description},#{createBy},#{remark},#{lessonTypeId});
	</insert>
	
	<select id="queryLesson" parameterType="lessonQuery" resultType="lesson">
	    select * from tb_group_lesson
		where lessontypeId = #{lessonTypeId}
	</select>
	
	<select id="queryLessonByGartenId" parameterType="int" resultType="lesson">
	    select tpl.*
		from tb_group_lesson tpl
		left join tb_garten_lesson ttl
		on ttl.lessionId = tpl.lessonId
		where ttl.gartenId = #{lessonId}
	</select>
	
	<select id="getLessonList" resultType="com.center.po.groupmgt.Lesson" parameterType="com.center.po.groupmgt.LessonQuery">
		SELECT l.* ,u.userName createByName,lt.lessonTypeName ,#{selectFlag},#{isPage}
		FROM db_kindergarten.tb_group_lesson l
		left join tb_system_user u on l.createBy = u.userId
		left join tb_group_lessontype lt on l.lessontypeId = lt.lessontypeId
		<if test="gartenId != null and gartenId != ''">
			left join tb_garten_lesson gl on gl.lessionId=l.lessonId
		</if>
		where 1=1
		<if test="description != null and description!=''">
			and l.description like CONCAT(CONCAT('%', #{description}),'%')
		</if>
		<if test="lessonTypeId != null and lessonTypeId != ''">
			and l.lessonTypeId = #{lessonTypeId}
		</if>
		<if test="lessonName != null and lessonName != ''">
			and lessonName like '%${lessonName}%'
		</if>
		<if test="startTime != null and startTime != ''">
			<![CDATA[
			and STR_TO_DATE(l.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{startTime},'%Y-%m-%d')
			]]>
		</if>
		<if test="endTime != null and endTime != ''">
			<![CDATA[
			and STR_TO_DATE(l.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{endTime},'%Y-%m-%d')
			]]>
		</if>
		<if test="selectFlag == 0">
			<if test="gartenId != null and gartenId != ''">
				and gl.gartenId=#{gartenId}
			</if>
		</if>
		<if test="selectFlag == 1">
		<if test="gartenId != null and gartenId != ''">
				and l.lessonId not in (select lessionId from tb_garten_lesson where gartenId=#{gartenId})
			</if>
		</if>
		 order by l.lessonId
		<if test="isPage!=1">
			limit #{start},#{length}
		</if>
		
	</select>
	
	<select id="count" resultType="java.lang.Long">
		select count(0) 
		FROM db_kindergarten.tb_group_lesson l
		left join tb_system_user u on l.createBy = u.userId
		left join tb_group_lessontype lt on l.lessontypeId = lt.lessontypeId
		<if test="gartenId != null and gartenId != ''">
			left join tb_garten_lesson gl on gl.lessionId=l.lessonId
		</if>
		where 1=1
		<if test="description != null and description!=''">
			and l.description like CONCAT(CONCAT('%', #{description}),'%')
		</if>
		<if test="lessonTypeId != null and lessonTypeId != ''">
			and l.lessonTypeId = #{lessonTypeId}
		</if>
		<if test="lessonName != null and lessonName != ''">
			and lessonName like '%${lessonName}%'
		</if>
		<if test="startTime != null and startTime != ''">
			<![CDATA[
			and STR_TO_DATE(l.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{startTime},'%Y-%m-%d')
			]]>
		</if>
		<if test="endTime != null and endTime != ''">
			<![CDATA[
			and STR_TO_DATE(l.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{endTime},'%Y-%m-%d')
			]]>
		</if>
		<if test="selectFlag == 0">
			<if test="gartenId != null and gartenId != ''">
				and gl.gartenId=#{gartenId}
			</if>
		</if>
		<if test="selectFlag == 1">
		<if test="gartenId != null and gartenId != ''">
				and l.lessonId not in (select lessionId from tb_garten_lesson where gartenId=#{gartenId})
			</if>
		</if>
		 order by l.lessonId
	</select>
	
	<update id="updateLesson">
		update tb_group_lesson set lessontypeId=#{lessonTypeId}, lessonName=#{lessonName},description=#{description},remark=#{remark}
		where lessonId = #{lessonId}
	</update>
	
	<delete id="delLessonById">
		delete from tb_group_lesson where lessonId = #{lessonId}
	</delete>
	
</mapper>